* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    margin: 0;
}
body {
    height: 100vh;
    background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
}
.container {
    background-color: white;
    width: 500px;
    margin: 50px auto;
    padding: 20px;
}
h2 {
    text-align: center;
    font-size: 30px;
}
.input-container {
    text-align: center;
}
.input {
    border: solid 1px #f0f0f0;
    outline: none;
}
.submit {
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    background-color: #8e49e9;
    outline: none;
    box-shadow: none;
}
.item {
    margin: 10px 30px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.438);
    padding: 10px;
}
.item-text {
    line-height: 30px;
    padding: 10px 20px;
}
.btn {
    width: 105px;
    display: flex;
    justify-content: space-between;
}
.delete-btn,
.done-btn {
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-btn {
    background-color: #e74d3d;
}
.done-btn {
    background-color: #32af3d;
}
.active {
    opacity: 0.5;
    box-shadow: none;
}